
.input {
    height: 35px;
    padding: 0 10px;
    text-align: center;
    border-radius: 40px;
    border: 1px solid $main-text-color;
    &:hover {
        border: 1px solid $theme-color;
    }
}

/*Create visit modal hidden inputs*/

/*Hidden inputs*/
.visit-modal {
    &__cardiologist-options {
        @include flex-column;
        gap: 20px;
    }
    &__dentist-options {
        @include flex-column;
        gap: 20px;
    }
    &__therapist-options {
        @include flex-column;
        gap: 20px;
    }
}

.hidden {
    display: $display;
}