.modal {
    width: 80%;
    margin: 20% auto;
    background: $main-color;
    border: 1px solid $main-text-color;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    padding: 30px 15px;
    position: relative;
    font-size: 16px;
    animation: animatezoom 0.3s ease;

    @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
    }

    &__container {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.25);
    }

    &__close {
        position: absolute;
        right: 15px;
        top: 14px;
        color: $seconadary-text-color;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: $theme-color;
        }
    }

    &__wrap {
        @include flex-column;
        gap: 20px;
    }

    &__name {
        font-size: 24px;
        color: $theme-color;
    }
}


