.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    padding: 15px 0;
    background-color: $main-color;

    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap:20px
    }

    &__search {
        @extend .input
    }  

    &__status {
        cursor: pointer;
    }  

    &__urgency {
        @extend .filters__status;
    } 
}