//breakpoints:
$screen-sm: 481px;
$screen-md: 993px;
$screen-xl: 1200px;

//fonts-variables:
$main-font: 'Arsenal', sans-serif;;
$bolt-font-weight: 700;
$regular-font-weight: 400;

//colors-variables:
$main-text-color: #cbd8c4;
$seconadary-text-color: #8b9f7a;
$theme-color: #497230;

//bgc
$main-color: #FFFFFF;
$secondary-color: #f6f6f6;

$display:none;