* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.btn__enter {
  display: flex;
  align-items: center;
}
.btn__enter-logo {
  fill: #497230;
}
.btn__enter-text {
  padding-left: 10px;
  color: #497230;
}

.btn__create-visit, .btn__search, .visit__form_more, .visit__form_edit, .btn__submit {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  padding: 0 20px;
  border-radius: 40px;
  background-color: #497230;
  color: #FFFFFF;
  transition-duration: 0.3s;
  padding-left: 15px;
  display: none;
}
.btn__create-visit:hover, .btn__search:hover, .visit__form_more:hover, .visit__form_edit:hover, .btn__submit:hover {
  opacity: 0.8;
}
.btn__create-visit-text {
  padding-left: 10px;
}

.btn__search, .visit__form_more, .visit__form_edit, .btn__submit {
  display: block;
}
.btn__search-text {
  padding-left: 15px;
}

.btn__submit {
  width: 100px;
}

.modal {
  width: 80%;
  margin: 20% auto;
  background: #FFFFFF;
  border: 1px solid #cbd8c4;
  border-radius: 5px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  padding: 30px 15px;
  position: relative;
  font-size: 16px;
  animation: animatezoom 0.3s ease;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modal__container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
}
.modal__close {
  position: absolute;
  right: 15px;
  top: 14px;
  color: #8b9f7a;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.modal__close:hover {
  color: #497230;
}
.modal__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.modal__name {
  font-size: 24px;
  color: #497230;
}

.input, .filters__search {
  height: 35px;
  padding: 0 10px;
  text-align: center;
  border-radius: 40px;
  border: 1px solid #cbd8c4;
}
.input:hover, .filters__search:hover {
  border: 1px solid #497230;
}

/*Create visit modal hidden inputs*/
/*Hidden inputs*/
.visit-modal__cardiologist-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.visit-modal__dentist-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.visit-modal__therapist-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.hidden {
  display: none;
}

.custom-select-conteiner {
  display: inline-block;
  position: relative;
}
.custom-select-conteiner:focus > .custom-select-value {
  border-width: 2px;
  outline: none;
}
.custom-select-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  width: 210px;
  border: 1px solid #cbd8c4;
  padding: 8px 15px;
  cursor: pointer;
  user-select: none;
}
.custom-select-value:hover {
  border: 1px solid #497230;
}
.custom-select-value::after {
  content: "";
  display: inline-block;
  border: 6px solid transparent;
  border-top-color: #497230;
  margin: 6px 0 0 3px;
}
.custom-select-options {
  display: none;
  position: absolute;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  box-shadow: 0 12px 12px 1px #8b9f7a;
  margin: 0;
  border: none;
  width: 210px;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  background-color: #FFFFFF;
}
.custom-select-options.show {
  display: block;
}
.custom-select-option {
  padding: 5px 15px;
  cursor: pointer;
}
.custom-select-option:hover {
  background-color: #8b9f7a;
}
.custom-select-option.selected {
  background-color: #497230;
}

.header__container {
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  background-color: #FFFFFF;
}

.header__logo {
  height: 50px;
  cursor: pointer;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  padding: 15px 0;
  background-color: #FFFFFF;
}
.filters__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.filters__status, .filters__urgency {
  cursor: pointer;
}
.visit {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin: 0 auto;
  max-width: 1170px;
  padding: 15px;
}
.visit p {
  padding-top: 15px;
}
.visit__form {
  width: 230px;
  background-color: #FFFFFF;
  justify-self: center;
  background: #FFFFFF;
  border: 1px solid #cbd8c4;
  border-radius: 5px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  color: black;
  display: grid;
  padding-bottom: 20px;
}
.visit__form_delete {
  position: relative;
  width: 10px;
  height: 10px;
  top: 10px;
  right: 10px;
  justify-self: end;
  cursor: pointer;
}
.visit__form_delete::after {
  position: absolute;
  content: "";
  top: 10px;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #497230;
  transform: rotate(-45deg);
}
.visit__form_delete::before {
  position: absolute;
  content: "";
  top: 10px;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #497230;
  transform: rotate(45deg);
}
.visit__form_button {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.visit__form_more, .visit__form_edit {
  width: 80px;
  height: 30px;
  font-size: 12px;
  padding: 0;
  margin-top: 10px;
}
.visit__form_hide {
  display: none;
}

#form-description {
  display: none;
}

* {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
}

body {
  background-color: #cbd8c4;
  min-height: 100vh;
}

/*# sourceMappingURL=style.css.map */
